@media screen and (max-width: 500px) and (max-height: 700px) {

    .page-1 {
        height: 150vh;
    }

    header {
        height: 10vh;
    }

    header > nav {
        display: none;
    }

    header > button {
        display: none;
    }

    main {
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: -250px;
    }

    main > .text {
        width: 85vw;
        height: 100vh;
        margin-bottom: 10vh;
        margin-right: 0;
    }

    .text > div > h2 {
        color: #FFF;
        font-family: Lato;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .text > div > span {
        color: rgba(255, 255, 255, 0.70);
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 20px;
    }


    .bt-blue {
        display: block;
        width: 40vw;
        margin-bottom: 0;
    }

    .group {
        /*width: 80vw;*/
        height: 50vh;
    }

    .group > img {
        width: 80vw;
        height: 50vh;
    }

    .page-2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .header {
        width: 70vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 30vh;
    }

    .header > .content-2 {
        width: 90vw;
        height: 20vh;
        color: #FFF;
        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 54px */
    }

    .header > .content {
        width: 77vw;
        height: 10vh;
        margin-top: 4vh;
        color: rgba(255, 255, 255, 0.70);
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }

    .img2 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        /*width: 95vw;*/
        height: 40vh;
        margin-top: 5vh;
    }

    .img2 > img {
        width: 85vw;
        height: 30vh;
    }

    .page-3 {
        height: 255vh;
    }

    .top > .content-3 {
        width: 85vw;
        height: 20vh;
        color: #FFF;
        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: start;
        padding-left: 6vw;
    }


    .main-one {
        margin: 0;
        width: 95vw;
        height: 110vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .main-two {
        margin: 0;
        width: 95vw;
        height: 110vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .in-content {
        width: 75vw;
        height: 40vh;
    }

    .header-4{
        width: 90vw;
        margin-bottom: 4vh;
    }

    .header-4 > span {
        color: #FFF;
        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .main-4 {
        display: none;
    }

    .main4-mb {
        height: 50vh;
        /*width: 100vw;*/
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        align-items: center;
    }

    .page-4 {
        height: 90vh;
        display: flex;
        flex-wrap: nowrap;
        background: #19191B;
        justify-content: center;
        flex-direction: column;
    }

    .page-5{
        height: 70vh;
        display: flex;
        flex-wrap: wrap;
        background: #19191B;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }

    .main-5{
        width: 90vw;
        height: 25vh;
        margin-left: 6vw;
        padding-top: 10vh;
        margin-bottom: 5vh;
    }

    .main-5>span{
        color: #FFF;
        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .bt-blue2{
        display: block;
        width: 40vw;
        margin-bottom: 0;
        margin-left: 6vw;
    }

    .footer{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 13vh;
    }

    .mb-info{
        width: 70vw;
        height: 25vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer a {
        margin: 0 2vh 0 2vh;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.70);
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-transform: capitalize;
    }

    a:hover{
        color: #5454D4;
    }

    .info{
        margin-bottom: 7vh;
    }

    .footer>.logoone{
        width: 145px;
    }

}
