
/*вага селектору 0 идинтифікаторів, 1 класс, 0 псевдо селекторів, 0 тега*/

    .father{                /*за замовчуванням займає всю ширину*/
    background: silver;
    min-height: 200px; /*мінімальна висота*/
    display: flex;          /*все в середині стає гнучким і дочірнім*/
    justify-content: center;
    align-content: center;
    }
/*0 1 0 0*/               /*вага вимірюється  приорітетністю*/

/*0 0 0 2*/
/*body > div{         !*неспрацює  але можна виправити. !important; але в край рідких випадках*!
    background: #5d0f0f !*! important*!;
}
!*
завжди спрацює останній important*!*/
    .child{             /*без flex  в середині батьківського елементу діти стануть в колонку*/
        width: 100px;
        height: 100px;
        display: flex;
        background-color: steelblue;
        margin: 10px;  /*зовнішні відступи (не діють на текст в середині)*/
        padding: 10px;
        box-sizing: border-box;   /*падінги враховуються в загальні 100 пх і текст залишиться*/
    }
